<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Task</title>
</head>
<body>
    {% extends 'base.html' %}

    {% block extra_headers %}
        <title>Add Task</title>
    {% endblock %}

    {% block content %}
        <h1>Add Task</h1>
        <form method="POST">
            {% csrf_token %}
            <input type="text" name="name" placeholder="Name" />
            <input type="description" name="description" palceholder="Description" />
            <select name="category_id">
                {% for category in categories %}
                    <option value={{ category.id }}>{{ category.name }}</option>
                {% endfor %}
            </select><br><br>
            <input type="submit" />
        </form>
    {% endblock %}
</body>
</html>