<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% extends 'base.html' %}

    {% block extra_headers %}
        <title>Edit Task</title>
    {% endblock %}
</head>
<body>
    {% block content %}
        <h1>Add task</h1>
        <form method="POST">
            {% csrf_token %}
            <input type="text" name="name" value="{{ task.name }}" />
            <input type="text" name="description" value="{{ task.description }}" />
            <select name="category_id">
                {% for category in categories %}
                    <option value={{ category.id }}>{{ category.name }}</option>
                {% endfor %}
            </select><br><br>
            <input type="submit" />
        </form>
    {% endblock %}
</body>
</html>